<div class="container">
  <h1>Add Utility</h1>

  <form id="add_utility" method="post" action="/create-utility">

    <label class="label" for="type">Type</label>
    <input type="text" name="type" placeholder="e.g., Electric" >
    <br>

    <label class="label" for="provider">Provider</label>
    <input type="text" name="provider" placeholder="e.g., PGE" >
    <br>

    <label class="label" for="membership_number">Membership Number</label>
    <input type="text" name="membership_number" placeholder="e.g., 2154324623" >
    <br>

    <label class="label" for="amount">Amount</label>
    <input type="text" name="amount" placeholder="e.g., 56.93">
    <br>

    <div class="submit"><input type="submit" value="Register"></div>
  </form>

</div>