<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
<!--   <link rel="stylesheet" href="/css/bootstrap.css"> -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <script type="text/javascript">
          window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid = e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
          heap.load(<%= heap_env_id %>);

          function heapId() {
	          email = $("input[name='email']").val()
	            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
              if (re.test(String(email).toLowerCase())) {
    	          heap.identify(email.toLowerCase())
              }
          }

  </script>

  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="http://bootswatch.com/simplex/bootstrap.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/jquery.magnific-popup.js"></script>

  <title></title>
</head>
<body>

  <nav class="navbar-collapse collapse navbar-responsive-collapse" id="navbar-main">
    <div class="brand"><img src="/img/hklogo.jpg" width="100px"><a href="/">House Keeper</a>
    </div>
      <% if authorized? %>
        <div id="always_buttons">
          <form action="/logout" class="inline">
            <button class="btn btn-lg btn-primary" id="sign_out">Sign Out</button>
          </form>
          <button class="btn btn-lg btn-primary" id="call_in">Call-In!</button>
          <button class="btn btn-lg btn-primary" id="cash_out">Cash-Out!</button>
        </div>
      <% else %>
        <li><a href="/">Sign In</a></li>
        <li><a href="/register_house">Sign Up</a></li>
      <% end %>
  </nav>
  <%= yield %>
        <div id="popup4" class="white-popup mfp-hide">
          <h3>You Sure?</h3>
          <p>This will send an invoice to all roommates and reset all utilities for next month.</p>
          <button id="yessure" class="btn btn-lg btn-primary">Yes</button><button id="notsure" class="btn btn-lg btn-primary">No</button>
      </div>
      <div id="popup5" class="white-popup mfp-hide">
          <h3>You Sure?</h3>
          <p>This will send an email to all roommates reminding them to fill in their details before bills are officially called in.</p>
          <button id="yessure_call_in" class="btn btn-lg btn-primary">Yes</button><button id="notsure" class="btn btn-lg btn-primary">No</button>
      </div>
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>
