<div class="container">
  <h1>Register Your House!</h1>

  <form id="register_house" method="post" action="/create-house">

  <label class="label" for="house_number">House Number</label>
    <input type="text" name="house_number" placeholder="e.g., 21" >
    <br>

    <label class="label" for="street">Street</label>
    <input type="text" name="street" placeholder="e.g., Willow Lane" >
    <br>

    <label class="label" for="city">City</label>
    <input type="text" name="city" placeholder="e.g., Oakland" >
    <br>

    <label class="label" for="state">State</label>
    <input type="text" name="state" placeholder="e.g., California" >
    <br>

    <label class="label" for="zip_code">Zip Code</label>
    <input type="text" name="zip_code" placeholder="e.g., 94607" >
    <br>

    <label class="label" for="country">Country</label>
    <input type="text" name="country" placeholder="e.g., USA" >
    <br>

    <label class="label" for="rent">Rent</label>
    <input type="text" name="rent" placeholder="e.g., 300" >
    <br>
    
    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>

</div>
