<div class="container">
  <h1>Register Your House!</h1>

  <form id="register_house" method="post" action="/create-house">

    <input type="text" name="house_number" placeholder="House Number" required>
    <br>

    <input type="text" name="street" placeholder="Street" required>
    <br>

    <input type="text" name="city" placeholder="City" required>
    <br>

    <input type="text" name="state" placeholder="State" required>
    <br>

    <input type="text" name="zip_code" placeholder="Zip Code" required>
    <br>

    <input type="text" name="country" placeholder="Country" required>
    <br>

    <input type="text" name="rent" placeholder="Monthly Rent" required>
    <br>
    
    <div class="submit"><input type="submit" value="Sign Up" style="float:left;margin-top:10px"></div>
  </form>

</div>
