<div class="container">
  <h1>Register User!</h1>

  <form id="register_user" method="post" action="/create-user">

    <label class="label" for="first_name">First Name</label>
    <input type="text" name="first_name" placeholder="e.g., John" >
    <br>

    <label class="label" for="last_name">First Name</label>
    <input type="text" name="last_name" placeholder="e.g., Doe" >
    <br>

    <label class="label" for="email">Email</label>
    <input type="text" name="email" placeholder="e.g., me@example.com" >
    <br>

    <label class="label" for="phone">Phone</label>
    <input type="text" name="phone" placeholder="e.g., 415-770-3948" >
    <br>

    <label class="label" for="password">Password</label>
    <input type="password" name="password" placeholder="6 or more characters">
    <br>

    <div class="submit"><input type="submit" value="Register"></div>
  </form>

</div>